<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./assets/js/css/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <!-- background -->
        <div class="background p-3">
            <!-- /background -->
            <!-- utenti -->
            <div class="container containerMain">
                <div class="row initialRow">
                    <div class="col-4" style="border-right: 1px solid var(--border);">
                        <div class="p-2 d-flex justify-content-between align-items-center">
                            <div>
                                <img src="./img/avatar_io.jpg"  class="rounded-circle imgAvatar mright" alt="">
                                <span class="fw-bold">Sofia</span>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-circle-notch fs-4 fontGrey"></i>
                                <i class="fa-solid fa-message fs-4 fontGrey"></i>
                                <i class="fa-solid fa-ellipsis-vertical fs-4 fontGrey"></i>
                            </div>
                        </div>
                        <div class="ps-2 d-flex aling-items-center p-1 bg-notification">
                            <div class="mright bg-white rounded-circle p-2">
                                <i class="fa-solid fa-bell-slash fs-4 textNotify "></i>
                            </div>
                            <div class="">Ricevi notifiche di nuovi messaggi</div>
                            <span class="fontGrey">
                                <u>Attiva Notifiche Desktop</u>
                            </span>
                        </div>
                        <div class="p-1 bg-light">
                            <div class="chatReserch d-flex align-items-center p-1">
                                <span class="mx-2 pe-1">
                                    <i class="fa-solid fa-magnifying-glass fontGrey fs-4"></i>
                                </span>
                                <input type="text" placeholder="Cerca o inizia una nuova chat" class="form-control" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="">
                            <ul class="ListaContatti">
                                <li class="py-2 d-flex border-bottom px-3" v-for="(user,index) in contacts">
                                    <div class="">
                                        <img :src="'./img/avatar' + user.avatar + '.jpg'" alt="" class="imgAvatar rounded-circle">
                                    </div>
                                    <div class="ms-3 d-flex justify-content-between w-100">
                                        <div class="">
                                            {{user.name}}
                                            <p class="fontGrey">Ultimo messaggio inviato</p>
                                        </div>
                                        <div class="fontGrey">
                                            <p>12:00</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-between">
                        <div class="p-2 d-flex aling-items-center justify-content-between" style="background-color: var(--bg-utenti);">
                            <div class="d-flex align-items-center">
                                <img :src="`./img/avatar${contacts[thisActiveIndex].avatar}.jpg`" alt="" class="rounded-circle imgAvatar mright">
                                <div class="">
                                    <span class="fw-bold">{{contacts[thisActiveIndex].name}}</span>
                                    <div class="text-secondary">
                                        Ultimo accesso oggi
                                    </div>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <i class="fa-solid fa-magnifying-glass fontGrey fs-4"></i>
                                <i class="fa-solid fa-paperclip fontGrey fs-4"></i>
                                <i class="fa-solid fa-ellipsis-vertical fs-4 fontGrey"></i>
                            </div>
                        </div>
                        <!-- chat -->
                        <div class="p-5 chatBack">
                            <ul class="chatMessage d-flex flex-column">
                                <li class="py-2 pb-3 pe-5 ps-2 mb-2 chatDisplay" @click="Changemessage(i)" id="message" v-for="(elm,index) in contacts[thisActiveIndex].messages" :class="(elm.status == 'sent') ? 'align-self-end sent' : 'align-self-start received'" >
                                    {{elm.message}}
                                    <span class="date fontGrey">
                                        {{elm.date}}
                                    </span>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="p-1 bgChat">
                            <div class="chatReserch d-flex aling-items-center">
                                <span class="mx-2 pe-1"><i class="fa-regular fa-face-smile fs-3 p-2 fontGrey"></i></span>
                                <input type="text" placeholder="Scrivi Un Messaggio" class="form-control" aria-describedby="basic-addon1">
                                <i class="fa-solid fa-microphone fs-4 mx-2 p-2 fontGrey"></i>
                            </div>
                        </div>
                        <!-- /chat -->
                    </div>
                </div>
            </div>
            <!-- /utenti  -->
        </div>
    </div>
    










    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>