
:root{
    --bg-green: rgba(0, 150, 136, 1);
    --bg-bg: rgba(220, 219, 210, 1);
    --bg-utenti: rgba(234, 234, 234, 1);
    --bg-chat-enter: rgba(243, 238, 234, 1);
    --border: rgba(214, 214, 214, 1);
    --ff6-color: rgba(177, 177, 177, 1);
    --desktop-notification: rgba(142, 218, 252, 1);



}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background{
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--bg-green) 0px, var(--bg-green) 15vh, var(--bg-bg) 15vh, var(--bg-bg) 100% );
}
.containerMain{
    background-color: var(--bg-utenti);
}

.initialRow{
    min-height: 95vh;
}
.col-4{
    flex: 0 0 auto;
    padding: 0 !important;
}

.imgAvatar{
    height: 80px;
}

.mright{
    margin-right: 0.5rem ;
}

.fontGrey{
    color: var(--ff6-color);
}


.bg-notification{
    background-color: var(--desktop-notification);
}

.textNotify{
    color: var(--desktop-notification);
}

.chatReserch{
    position: relative;
    width: 100%;
}

.ListaContatti{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .listaContatti :hover{
    background-color: lightgrey;
    cursor: pointer;
} */